body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

.container {
    text-align: center;
    width: 300px;
    max-width: 80%;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    overflow: hidden;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.5s ease-in-out;
}

.container.show {
    opacity: 1;
    transform: scale(1);
}

.container.expand {
    transition: height 1s ease-in-out;
    height: 300px; /* wowie! expand! */
}

.logo-box {
    cursor: pointer;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.title {
    margin-top: 10px;
    font-size: 24px;
    color: #333;
}

.content {
    display: none;
}

.container.expand .content {
    display: block;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.container.expand .content.show {
    opacity: 1;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    text-align: left;
}

.content h2 {
    margin-top: 0;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content ul li {
    background: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
