body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: #ffffff;
}

.container {
    text-align: center;
    width: 300px;
    max-width: 80%;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    overflow: hidden;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.container.show {
    opacity: 1;
    transform: scale(1);
}

.container.expanded {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
}

.logo-box {
    cursor: pointer;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.title {
    margin-top: 10px;
    font-size: 24px;
    color: #ffffff;
}

.content {
    max-height: 0;
    opacity: 0;
    transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
    overflow: hidden;
}

.container.expanded .content {
    max-height: 500px;
    opacity: 1;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    text-align: left;
}

.content h2 {
    margin-top: 0;
    color: #ffffff;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content ul li {
    background: rgba(255, 255, 255, 0.2);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
}
